.principal-imagem {
    background-image: url("../Img/casa\ principal.jpg");
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    display: inline-block;
    background-position: center;
    filter: brightness(0.40) ;
    
}

.principal {
    display: flex;
}

.principal-imagem__texto {
    color: var(--cor-da-fonte-principal);
    font-size: 88px;
    font-weight: 900;
    position: absolute;
    left: 10%;
    top: 25%;
    text-align: left;
    width: 80%;
    flex-wrap: wrap;
   
}

.principal-imagem__subtitulo {
    color: var(--cor-da-fonte-principal);
    font-size: 35px;
    font-weight: 900;
    position: absolute;
    left: 10%;
    top: 50%;
    text-align: left;
    width: 50%;
}
    @media only screen and (max-width: 840px) {
        .principal-imagem__texto {
            font-size: 50px; 
            width: 90%;
            top: 20%;
            align-items:center;
        }
    
        .principal-imagem__subtitulo {
            font-size: 30px;
            width: 80%;
            top: 45%;
            align-items:center;
        }

}